body
{
	background-color: #E0E0E0;
}
/*HOMEPAGE CSS*/
.navbar-custom
{
	border-radius: 0px;
	background-color: #232f3e;
	height: 75px;
	width:100%;
	margin-bottom: 0px!important;
}
.input-group-btn
{
	border-radius: 0px!important;
	width:1%!important;
	background-color: #336699;
}
.breadcrumb
{
	background-color: #232f3e;
}
.carousel-inner {
    height: 576px;
    overflow: hidden;
}
.carousel-inner>.item>img {
    margin: 0 auto;
    height: 576px;
    width:100%;
}
.heading
{
	color:white;
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}

/*SIGNUP FORM CSS*/
.main 
{
	background-color: #E0E0E0;
}
.signup-form
{
	background-color: #E0E0E0;
}
.login-form
{
	background-color: #E0E0E0;
}