<Template name="header_layout">
    <div class="navbar navbar-custom"> 
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Cab Service</a>
            </div> 
            <ol class="breadcrumb pull-right mb35">
                {{#if currentUser}}
                    <li><a href="/signup" class="sign-out">{{username}}, SIGNOUT</a></li>
                {{else}}
                    <li><a href="/signup">SIGNUP</a></li>
                    <li><a href="/login">LOGIN</a></li>
                {{/if}}
            </ol>
            <button type="button" id="notification" class="btn btn-primary mt35 pull-right" data-dismiss="modal">Notification <span class="badge badge-primary">{{noti_count}}</span></button>
            <button type="button" id="message" class="btn btn-primary mt35 pull-right" data-dismiss="modal">Message <span class="badge badge-primary">{{msg_count}}</span></button>

        </div>
    </div>
    <section id="main" role="main">
        {{> yield}}    
    </section> 
</Template>